@model Carshop.Shared.Voiture

<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card" style="" onclick="javascript:window.location.href='/voitures/details/@Model.VoitureID'">
        <img class="card-img-top" src="~/images/@Model.Image" alt="@Model.VoitureID">
        <div class="card-body">
            <h5 class="card-title d-inline float-left">
                @Model.Marque - @Model.Modele
            </h5>
            <p class="card-text d-inline float-right">@string.Format("{0:C}", @Model.Prix)</p>
            <p class="card-text card-short-description"><i> @Model.Categorie</i></p>
            <form asp-action="AddToShoppingCart"
                  asp-controller="ShoppingCart"
                  asp-route-cakeId="@Model.VoitureID"
                  method="post">

                <button class="btn btn-primary buy-now-btn float-right">Acheter maintenant</button>
            </form>

        </div>
    </div>
</div>
